@import "../../../styles/mixins";

.n-radio {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  font-size: 1rem;

  label {
    line-height: 1;
  }

  input {
    margin: 1rem;
  }

  input[type="radio"] {
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    margin: 1rem;
    padding: 0.7rem;
    font: inherit;
    color: #007ac9;
    width: 1.7em;
    height: 1.7em;
    border-radius: 50%;
    transform: translateY(-0.08em);
    display: grid;
    place-content: center;

    &:hover::before {
      box-shadow: inset 1em 1em $color-intive-cerulean-darker;
      border: 0;
    }

    &:focus {
      border: 0.15em solid $color-intive-cerulean;

      &::before {
        border: 0.15em solid $color-intive-cerulean;
        box-shadow: none;
      }
    }
  }

  input[type="radio"]::before {
    content: "";
    width: 1em;
    height: 1em;
    border-radius: 50%;
    border: 0.15em solid $color-intive-cerulean;
    box-shadow: none;
  }

  input[type="radio"]:checked {
    border: 0.15em solid $color-intive-cerulean;

    &::before {
      box-shadow: inset 1em 1em $color-intive-cerulean;
    }
  }

  input[type="radio"]:disabled {
    border: none;

    &::before {
      box-shadow: none;
      border: 0.15em solid $grey-light;
    }

    &:checked::before {
      box-shadow: inset 1em 1em $grey-light;
    }
  }
}

.n-radio--error {
  label {
    color: $color-form-error;
  }
}
