@import "@/styles/mixins";

.presenter-revolver {
  width: 100vw;
  margin-left: 50%;
  transform: translateX(-50%);
  position: relative;
  cursor: pointer;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: $radius-large;
  }

  &__viewport {
    display: flex;
    height: 12.5rem;
    touch-action: pan-y;
    position: relative;
    justify-content: center;
    align-items: center;

    @include tablet-m-intive-up {
      height: 14.5rem;
    }

    @include desktop-l-intive {
      height: 17.9rem;
    }
  }

  &__viewport > div {
    display: flex;
    align-self: center;
    position: absolute;
    width: 3.1rem;
    height: 3.1rem;
    transition: all 250ms;
    z-index: 0;
    opacity: 0;
    font-size: 0.05rem;
  }

  &__portal {
    width: 15rem;
    display: flex;
    justify-content: center;
    margin: 0 auto;
  }

  .portal-indicators .indicators-arrows-onslide {
    padding: 0rem;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translateY(-50%) translateX(-50%);
    z-index: 9999;
    width: 19.4rem;

    .indicators-arrows-onslide__left {
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateX(-50%) translateY(-50%);
    }

    .indicators-arrows-onslide__right {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateX(50%) translateY(-50%);
    }
  }

  .slides3 .indicators-arrows-onslide {
    @include tablet-m-intive-up {
      width: 25rem;
    }

    @include desktop-l-intive {
      width: 31.75rem;
    }
  }

  .slides5 .indicators-arrows-onslide {
    @include tablet-m-intive-up {
      width: 32rem;
    }

    @include desktop-l-intive {
      width: 40.75rem;
    }
  }

  .slides7 .indicators-arrows-onslide {
    @include tablet-m-intive-up {
      width: 32rem;
    }

    @include tablet-l-intive-up {
      width: 37rem;
    }

    @include desktop-l-intive {
      width: 45.417rem;
    }
  }

  .rev-1 {
    z-index: 1;
    transform: translateX(-5.625rem);
    width: 8.1rem;
    height: 8.1rem;
    opacity: 1;
    font-size: 0.75rem;
  }

  .rev0 {
    z-index: 2;
    width: 11.25rem;
    height: 11.25rem;
    opacity: 1;
    font-size: 0.8rem;
  }

  .rev1 {
    z-index: 1;
    transform: translateX(5.6rem);
    width: 8.1rem;
    height: 8.1rem;
    opacity: 1;
    font-size: 0.8rem;
  }

  @include tablet-m-intive-up {
    .rev-2 {
      z-index: 1;
      transform: translateX(-12.5rem);
      width: 7rem;
      height: 7rem;
      opacity: 1;
      font-size: 0.5rem;
    }

    .rev-1 {
      z-index: 2;
      transform: translateX(-7.25rem);
      width: 10.5rem;
      height: 10.5rem;
      opacity: 1;
      font-size: 0.6rem;
    }

    .rev0 {
      z-index: 3;
      width: 14.5rem;
      height: 14.5rem;
      transform: unset;
      opacity: 1;
      font-size: 0.8rem;
    }

    .rev1 {
      z-index: 2;
      transform: translateX(7.25rem);
      width: 10.5rem;
      height: 10.5rem;
      opacity: 1;
      font-size: 0.6rem;
    }

    .rev2 {
      z-index: 1;
      transform: translateX(12.5rem);
      width: 7rem;
      height: 7rem;
      opacity: 1;
      font-size: 0.45rem;
    }
  }

  @include tablet-l-intive-up {
    .rev-3 {
      z-index: 1;
      transform: translateX(-16rem);
      width: 5rem;
      height: 5rem;
      opacity: 1;
      font-size: 0.45rem;
    }

    .rev-2 {
      z-index: 2;
      transform: translateX(-12.5rem);
      width: 7rem;
      height: 7rem;
      opacity: 1;
      font-size: 0.6rem;
    }

    .rev-1 {
      z-index: 3;
      transform: translateX(-7.25rem);
      width: 10.5rem;
      height: 10.5rem;
      opacity: 1;
      font-size: 0.7rem;
    }

    .rev0 {
      z-index: 4;
      width: 14.5rem;
      height: 14.5rem;
      transform: unset;
      opacity: 1;
      font-size: 0.8rem;
    }

    .rev1 {
      z-index: 3;
      transform: translateX(7.25rem);
      width: 10.5rem;
      height: 10.5rem;
      opacity: 1;
      font-size: 0.7rem;
    }

    .rev2 {
      z-index: 2;
      transform: translateX(12.5rem);
      width: 7rem;
      height: 7rem;
      opacity: 1;
      font-size: 0.6rem;
    }

    .rev3 {
      z-index: 1;
      transform: translateX(16rem);
      width: 5rem;
      height: 5rem;
      opacity: 1;
      font-size: 0.45rem;
    }
  }

  @include desktop-l-intive {
    .rev-3 {
      z-index: 1;
      transform: translateX(-20.417rem);
      width: 4.55rem;
      height: 4.55rem;
      opacity: 1;
      font-size: 0.42rem;
    }

    .rev-2 {
      z-index: 2;
      transform: translateX(-15.85rem);
      width: 9.15rem;
      height: 9.15rem;
      opacity: 1;
      font-size: 0.6rem;
    }

    .rev-1 {
      z-index: 3;
      transform: translateX(-8.95rem);
      width: 13.75rem;
      height: 13.75rem;
      opacity: 1;
      font-size: 0.75rem;
    }

    .rev0 {
      z-index: 4;
      width: 17.92rem;
      height: 17.92rem;
      transform: unset;
      opacity: 1;
      font-size: 0.85rem;
    }

    .rev1 {
      z-index: 3;
      transform: translateX(8.95rem);
      width: 13.75rem;
      height: 13.75rem;
      opacity: 1;
      font-size: 0.75rem;
    }

    .rev2 {
      z-index: 2;
      transform: translateX(15.85rem);
      width: 9.15rem;
      height: 9.15rem;
      opacity: 1;
      font-size: 0.6rem;
    }

    .rev3 {
      z-index: 1;
      transform: translateX(20.4rem);
      width: 4.6rem;
      height: 4.6rem;
      opacity: 1;
      font-size: 0.4rem;
    }
  }
}

.presenter-revolver--rect {
  .presenter-revolver__viewport {
    height: 10.625rem;

    @include tablet-m-intive-up {
      height: 11.5rem;
    }

    @include tablet-l-intive-up {
      height: 16.75rem;
    }

    @include desktop-l-intive {
      height: 15.4rem;
    }
  }

  .portal-indicators .indicators-arrows-onslide {
    width: 22rem;
  }

  .slides3 .indicators-arrows-onslide {
    @include tablet-m-intive-up {
      width: 25.5rem;
    }

    @include tablet-l-intive-up {
      width: 37.5rem;
    }

    @include desktop-l-intive {
      width: 34.65rem;
    }
  }

  .slides5 .indicators-arrows-onslide {
    @include tablet-m-intive-up {
      width: 28.8rem;
    }

    @include tablet-l-intive-up {
      width: 44.5rem;
    }

    @include desktop-l-intive {
      width: 40.65rem;
    }
  }

  .slides7 .indicators-arrows-onslide {
    @include tablet-m-intive-up {
      width: 29.6rem;
    }

    @include tablet-l-intive-up {
      width: 47.6rem;
    }

    @include desktop-l-intive {
      width: 43.65rem;
    }
  }

  img {
    border-radius: $radius;
  }

  .rev-1 {
    z-index: 1;
    transform: translateX(-5.5rem);
    width: 11rem;
    height: 6.9rem;
    opacity: 1;
    font-size: 0.75rem;
  }

  .rev0 {
    z-index: 2;
    width: 15rem;
    height: 9.375rem;
    opacity: 1;
    font-size: 0.8rem;
  }

  .rev1 {
    z-index: 1;
    transform: translateX(5.5rem);
    width: 11rem;
    height: 6.875rem;
    opacity: 1;
    font-size: 0.75rem;
  }

  @include tablet-m-intive-up {
    .rev-2 {
      z-index: 1;
      transform: translateX(-10.4rem);
      width: 8rem;
      height: 5rem;
      opacity: 1;
      font-size: 0.45rem;
    }

    .rev-1 {
      z-index: 2;
      transform: translateX(-6.5rem);
      width: 12.8rem;
      height: 8rem;
      opacity: 1;
      font-size: 0.6rem;
    }

    .rev0 {
      z-index: 3;
      width: 16.8rem;
      height: 10.5rem;
      transform: unset;
      opacity: 1;
      font-size: 0.8rem;
    }

    .rev1 {
      z-index: 2;
      transform: translateX(6.4rem);
      width: 12.8rem;
      height: 8rem;
      opacity: 1;
      font-size: 0.6rem;
    }

    .rev2 {
      z-index: 1;
      transform: translateX(10.5rem);
      width: 8rem;
      height: 5rem;
      opacity: 1;
      font-size: 0.45rem;
    }
  }

  @include tablet-l-intive-up {
    .rev-3 {
      z-index: 1;
      transform: translateX(-19.8rem);
      width: 8rem;
      height: 5rem;
      opacity: 1;
      font-size: 0.45rem;
    }

    .rev-2 {
      z-index: 2;
      transform: translateX(-15.8rem);
      width: 12.8rem;
      height: 8rem;
      opacity: 1;
      font-size: 0.6rem;
    }

    .rev-1 {
      z-index: 3;
      transform: translateX(-9.4rem);
      width: 18.8rem;
      height: 11.75rem;
      opacity: 1;
      font-size: 0.7rem;
    }

    .rev0 {
      z-index: 4;
      width: 25.2rem;
      height: 15.75rem;
      transform: unset;
      opacity: 1;
      font-size: 0.8rem;
    }

    .rev1 {
      z-index: 3;
      transform: translateX(9.4rem);
      width: 18.8rem;
      height: 11.75rem;
      opacity: 1;
      font-size: 0.7rem;
    }

    .rev2 {
      z-index: 2;
      transform: translateX(15.8rem);
      width: 12.8rem;
      height: 8rem;
      opacity: 1;
      font-size: 0.6rem;
    }

    .rev3 {
      z-index: 1;
      transform: translateX(19.8rem);
      width: 8rem;
      height: 5rem;
      opacity: 1;
      font-size: 0.45rem;
    }
  }

  @include desktop-l-intive {
    .rev-3 {
      z-index: 1;
      transform: translateX(-18.15rem);
      width: 7.35rem;
      height: 4.6rem;
      opacity: 1;
      font-size: 0.42rem;
    }

    .rev-2 {
      z-index: 2;
      transform: translateX(-14.5rem);
      width: 11.65rem;
      height: 7.3rem;
      opacity: 1;
      font-size: 0.6rem;
    }

    .rev-1 {
      z-index: 3;
      transform: translateX(-8.65rem);
      width: 17.35rem;
      height: 10.85rem;
      opacity: 1;
      font-size: 0.75rem;
    }

    .rev0 {
      z-index: 4;
      width: 23.35rem;
      height: 14.6rem;
      transform: unset;
      opacity: 1;
      font-size: 0.833rem;
    }

    .rev1 {
      z-index: 3;
      transform: translateX(8.65rem);
      width: 17.35rem;
      height: 10.85rem;
      opacity: 1;
      font-size: 0.75rem;
    }

    .rev2 {
      z-index: 2;
      transform: translateX(14.5rem);
      width: 11.65rem;
      height: 7.3rem;
      opacity: 1;
      font-size: 0.59rem;
    }

    .rev3 {
      z-index: 1;
      transform: translateX(18.15rem);
      width: 7.35rem;
      height: 4.59rem;
      opacity: 1;
      font-size: 0.42rem;
    }
  }
}
