@import "@/styles/mixins";

.app-button {
  display: flex;
  align-items: center;
  cursor: pointer;

  & .icon:hover {
    color: $color-intive-cerise;
  }

  &__label {
    margin-left: 0.25rem;
    -webkit-text-size-adjust: 100%;
  }

  &--white {
    color: $white;
  }
}
